<launch>

<arg name="base_frame" default="base_footprint" />
<arg name="laser_topic" default="scan_filtered" />
<arg name="laser_frame" default="base_laser" />

<arg name="paramsdir" default="/home/salvathor/Documentos/Akira_1.2.2/akira_apps/navigation/config_2" />

<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">

  <rosparam file="$(arg paramsdir)/move_base_params.yaml" command="load" />
  <rosparam file="$(arg paramsdir)/local_costmap_params.yaml" command="load" />
  <rosparam file="$(arg paramsdir)/global_costmap_params.yaml" command="load" />
  <rosparam file="$(arg paramsdir)/dwa_local_planner_params.yaml" command="load" />

  <!-- Override MOVE_BASE Frame Params to include prefix -->
  
  <param name="global_costmap/global_frame" value="/map" />   
  <param name="global_costmap/static_layer/map_topic" value="/map" />    
  <param name="global_costmap/laser_scan_sensor/sensor_frame" value="/$(arg laser_frame)" />
  <param name="global_costmap/laser_scan_sensor/topic" value="/$(arg laser_topic)" />
  <param name="global_costmap/robot_base_frame" value="/$(arg base_frame)" />

  <param name="local_costmap/global_frame" value="/odom" />
  <param name="local_costmap/laser_scan_sensor/sensor_frame" value="/$(arg laser_frame)" />
  <param name="local_costmap/laser_scan_sensor/topic" value="/$(arg laser_topic)" />
  <param name="local_costmap/robot_base_frame" value="/$(arg base_frame)" /> 

  <remap from="cmd_vel" to="/cmd_vel"  /> 

</node>

</launch>

